Package: jason-embedded
Version: 25.12.17
Priority:
Architecture: all
Essential:
Depends: openjdk-21-jdk | temurin-21-jdk | bellsoft-java21
Pre-depends:
Suggests:
Installed-Size:
Maintainer: Nilson Lazarin <chon@grupo.cefet-rj.br>
Homepage: https://javino.chon.group/
Conflicts:
Replaces:
Provides:
Description: A Spin-off Version of Jason for IoT and Embedded Multi-Agent Systems.
