Package: jason-embedded
Version: 25.11.18
Priority:
Architecture: all
Essential:
Depends: 
Pre-depends: openjdk-21-jdk | temurin-21-jdk | bellsoft-java21-lite
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: A Spin-off Version of Jason for IoT and Embedded Multi-Agent Systems.
