Package: jason-embedded
Version: 1.0.2-240723
Priority:
Architecture: all
Essential:
Depends: 
Pre-depends: temurin-17-jre | openjdk-17-jre
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: A Spin-off Version of Jason for IoT and Embedded Multi-Agent Systems.
